# Python package required:
matplotlib~=3.5.1
numpy~=1.21.5
pandas~=1.4.1
shap~=0.40.0
#sklearn==0.23.1
scikit-learn~=1.0.2
pyensembl>=1.9.4
torchvision>=0.7.0
scipy~=1.8.0
torchmetrics~=0.7.2
torch~=1.10.2
# R package required:
# WebGestaltR==0.4.4
# data.table==1.14.2
# biomaRt==2.50.0



